APP_NAME="Laravel"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=daily
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# #############################################################################
# Laravel Packages
# #############################################################################

# ----------------------------------------------------------------------------
# Starter
# ----------------------------------------------------------------------------

YR_USER_NAME="User"
YR_USER_EMAIL="test@example.com"
YR_USER_PASSWORD="password"

# ----------------------------------------------------------------------------
# Exception
# ----------------------------------------------------------------------------

YR_EXCEPTION_ENABLE_LOGGING=true
YR_EXCEPTION_ENABLE_MAILING=true

YR_EXCEPTION_MAILING_SUBJECT="Exception Occurred"
YR_EXCEPTION_MAILING_FROM_ADDRESS="${MAIL_FROM_ADDRESS}"
YR_EXCEPTION_MAILING_FROM_NAME="${APP_NAME}"
YR_EXCEPTION_MAILING_TO_ADDRESS="${YR_USER_EMAIL}"
YR_EXCEPTION_MAILING_TO_NAME="${YR_USER_NAME}"

# ----------------------------------------------------------------------------
# Lang
# ----------------------------------------------------------------------------

YR_LANG_ENABLE_MERGE=true
YR_LANG_ENABLE_CACHE=true

YR_LANG_CACHE_STORE_MEMORY_LIMIT=1000

# ----------------------------------------------------------------------------
# Log
# ----------------------------------------------------------------------------

YR_LOG_IS_ROTATE=true
YR_LOG_RETENTION_DAYS=7

YR_LOG_FORMAT="[%datetime%] %level%: %message%"
YR_LOG_FORMAT_JSON="%datetime%, %level%, %message%"

YR_LOG_FILE_NAME_FORMAT="Y-m-d"
YR_LOG_FILE_EXTENSION="log"

YR_LOG_IS_MEMORY_REAL_USAGE=true
YR_LOG_IS_MEMORY_FORMAT=true
YR_LOG_MEMORY_PRECISION=2

# ----------------------------------------------------------------------------
# Logging
# ----------------------------------------------------------------------------

YR_LOGGING_ENABLE_HTTP=true
YR_LOGGING_ENABLE_QUERY=true

# #############################################################################
# PHP Packages
# #############################################################################

# ----------------------------------------------------------------------------
# DB
# ----------------------------------------------------------------------------

YR_DB_MYSQL_DUMP_DRIVER="mysqldump"
